@media (min-width: 768px) {
    .how-wrapper.shadow-style {
        background-color: #ffffff;
        box-shadow: 0 0 15px rgba(23, 29, 28, 0.2);
    }
  }
@media (max-width: 1199px) {
    .how-wrapper {
        padding: 60px 40px;
    }
  }
@media (max-width: 991px) {
    .how-wrapper {
        padding: 50px 30px;
    }
  }
  
  @media (max-width: 575px) {
    .how-wrapper {
        padding: 40px 15px;
    }
  }
  @media (min-width: 768px) {
    .how-item .how-thumb {
        margin-bottom: 40px;
    }
  }
  
  @media (max-width: 575px) {
    .how-item .how-thumb {
        max-width: 180px;
    }
  }
  @media (max-width: 991px) {
    .how-video-wrapper {
        padding: 80px 0;
    }
  }
  @media (max-width: 767px) {
    .history-table .content {
      color: #ee4730;
    }
  }
  @media (max-width: 767px) and (max-width: 575px) {
    .history-table .user-info {
      display: block;
    }
  
    .history-table .user-info .content {
      padding: 0;
    }
  
    .history-table .user-info .thumb {
      margin: 0 auto 5px;
    }
  }
  
  @media (max-width: 767px) {
    .history-table thead {
      display: none;
    }
  
    .history-table tbody tr {
      display: block;
    }
  
    .history-table tbody tr td {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 0;
    }
  
    .history-table tbody tr td::before {
      content: attr(data-history);
      text-transform: uppercase;
      color: #007ec3;
      font-weight: 600;
    }
  }
  @media (min-width: 768px) {
    .faq-head-title {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 767px) {
    .faq-area .faq-wrapper {
      padding: 0 15px;
    }
  }
  @media (max-width: 991px) {
    .how-video-wrapper {
        padding: 80px 0;
    }
  }
  @media (max-width: 575px) {
    .custom-button {
      padding: 15px 30px 10px;
      font-size: 16px;
    }
  }

  @media (max-width: 575px) {
    .auction-item-2 {
      max-width: 350px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .auction-item-2 .auction-content .bid-area .bid-amount .icon {
      max-width: 25px;
    }
    .auction-item-2 .auction-content .bid-area .bid-amount .icon i {
      font-size: 30px;
    }
  }
  .auction-item-2 .auction-content .bid-area .bid-amount .amount-content {
    padding-left: 15px;
    max-width: calc(100% - 30px);
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .auction-item-2 .auction-content .bid-area .bid-amount .amount-content {
      max-width: calc(100% - 25px);
    }
    .auction-item-2
      .auction-content
      .bid-area
      .bid-amount
      .amount-content
      .amount {
      font-size: 18px;
    }
  }
  @media (max-width: 1199px) and (min-width: 992px) {
    .auction-item-2 .auction-content .bid-area .bid-amount {
      padding: 12px 5px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .auction-item-2 .auction-content .bid-area .bid-amount {
      padding: 12px 0;
    }
  
    .auction-item-2 .auction-content .bid-area .bid-amount .icon {
      width: 25px;
    }
  
    .auction-item-2 .auction-content .bid-area .bid-amount .icon i {
      font-size: 30px;
    }
  
    .auction-item-2 .auction-content .bid-area .bid-amount .amount-content {
      padding-left: 15px;
    }
  
    .auction-item-2
      .auction-content
      .bid-area
      .bid-amount
      .amount-content
      .amount {
      font-size: 18px;
    }
  }
  @media (min-width: 1200px) {
    .auction-item-2 .auction-content .countdown-area .total-bids {
      padding-left: 35px;
    }
  }
  @media (min-width: 576px) {
    .product-details-slider-wrapper {
      margin-bottom: -20px;
    }
  }
  @media (min-width: 576px) {
    .product-single-sidebar .countdown {
      font-size: 30px;
      line-height: 1;
    }
  }
  
  @media (min-width: 576px) and (min-width: 992px) and (max-width: 1199px) {
    .product-single-sidebar .countdown {
      font-size: 24px;
    }
  }
  @media (min-width: 576px) {
    .mt-40-60-80 {
      margin-top: 60px;
    }
  }
  
  @media (min-width: 768px) {
    .mt-40-60-80 {
      margin-top: 80px;
    }
  }
  
  
  @media (max-width: 991px) {
    .product-sidebar-area {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 991px) and (max-width: 767px) {
    .product-sidebar-area {
      margin-top: 40px;
    }
  }
  @media (max-width: 991px) {
    .side-counter-area {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      justify-content: center;
      margin-bottom: -30px;
    }
  
    .side-counter-area .side-counter-item {
      padding: 0 15px;
      margin-bottom: 30px;
      flex-grow: 1;
    }
  }
  @media (min-width: 576px) {
    .product-details-header .title {
      margin-bottom: 13px;
    }
  }
  @media (max-width: 575px) {
    .price-table {
      padding: 30px 15px;
    }
    .price-table li.header {
      margin-bottom: 0;
    }
  }
  @media (max-width: 575px) {
    .product-bid-form .search-icon {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .product-bid-form {
      margin: -10px;
    }
  
    .product-bid-form button,
    .product-bid-form input,
    .product-bid-form .search-icon {
      margin: 10px;
    }
  }
  @media (min-width: 768px) {
    .mb-40-60 {
      margin-bottom: 60px;
    }
  }
  @media (min-width: 768px) {
    .tab-details-content .item {
      margin-bottom: 45px;
    }
  
    .tab-details-content .item .title {
      margin-bottom: 18px;
    }
  
    .tab-details-content .item .subtitle {
      margin-bottom: 15px;
    }
  
    .tab-details-content .item ul {
      margin-bottom: 25px;
    }
  
    .tab-details-content .item ul:last-child {
      margin-bottom: -7px !important;
    }
  
    .tab-details-content .item ul li {
      padding: 0;
    }
  
    .tab-details-content .item p {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 767px) {
    .product-info-table tbody tr {
      width: 100%;
    }
  
    .product-info-table tbody tr:nth-of-type(4n + 1),
    .product-info-table tbody tr:nth-of-type(4n + 3) {
      background: #ebf2ff;
    }
  
    .product-info-table tbody tr:nth-of-type(4n + 2),
    .product-info-table tbody tr:nth-of-type(4n + 4) {
      background: #fff;
    }
  }
  @media (min-width: 992px) {
    .mt-70-100 {
      margin-top: 100px;
    }
  }
  @media (max-width: 575px) {
    .shipping-table {
      min-width: 550px;
    }
  }
  @media (min-width: 768px) {
    .shipping-wrapper .item,
    .history-wrapper .item {
      margin-bottom: 45px;
    }
  
    .shipping-wrapper .item .title,
    .history-wrapper .item .title {
      margin-bottom: 18px;
    }
  
    .shipping-wrapper .item ul,
    .history-wrapper .item ul {
      margin-bottom: 25px;
    }
  
    .shipping-wrapper .item ul:last-child,
    .history-wrapper .item ul:last-child {
      margin-bottom: -7px !important;
    }
  
    .shipping-wrapper .item ul li,
    .history-wrapper .item ul li {
      padding: 0;
    }
  
    .shipping-wrapper .item p,
    .history-wrapper .item p {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 991px) {
    .history-table-area {
      padding: 30px;
    }
  }
  
  @media (max-width: 575px) {
    .history-table-area {
      padding: 30px 15px;
    }
  }
  @media (max-width: 575px) {
    .slide-bottom-item {
      margin: 10px;
      box-shadow: 0px 0px 5px rgba(22, 26, 57, 0.36);
    }
  }
  @media (max-width: 575px) {
    .slide-top-item {
      margin: 10px;
      box-shadow: 0px 0px 5px rgba(22, 26, 57, 0.36);
    }
  }
  @media (max-width: 991px) {
    .history-table {
      font-size: 16px;
    }
  
    .history-table .user-info .thumb {
      width: 60px;
      height: 60px;
    }
  
    .history-table td {
      padding: 15px 0;
    }
  
    .history-table tr th {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    .faq-item {
      padding: 0 15px;
    }
  }
  
  @media screen and (max-width: 499px) {
    .faq-item .faq-title {
      padding-bottom: 10px;
    }
  
    .faq-item .faq-title .right-icon {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
    }
  
    .faq-item .faq-title .right-icon::after {
      width: 15px;
    }
  
    .faq-item .faq-title .right-icon::before {
      height: 15px;
    }
  
    .faq-item .faq-title .title {
      width: 100%;
      padding-left: 0;
      padding-right: 40px;
      font-size: 18px;
      font-weight: 500;
    }
  
    .faq-item .faq-title img {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .product-header > * {
      flex-grow: 1;
    }
  }
  
  @media (min-width: 992px) {
    .product-header.style-2 .product-search,
    .product-header.style-2 .product-header-item {
      width: calc((100% - 20px) / 3);
    }
  }

  @media (min-width: 992px) {
    .product-search {
      max-width: 240px;
    }
  }
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
  }
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }